html, body{
    height: 100%;
    width: 100%;

}
body{
  background-image: url('gallery_img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

.navbar{
    background-color:gray;
    padding: 1% 0;
    font-size: 0.90em;
}

.navbar-brand{
    min-height: 40px;
    padding: 0 10px 5px;
}



.gallery-block{
    padding-bottom: 60px;
    padding-top: 60px;
    background-image: url("gallery_img/background.png") no-repeat right top;
}

.gallery-block .heading{margin-bottom: 50px; text-align: center;}

.gallery-block .heading h2{ font-weight: bold; color: white;
    font-size: 1.4rem; text-transform: uppercase;}
.gallery-block .heading p{ color: white;
        font-size: 0.9rem; text-transform: uppercase;}    
.gallery-block.compact-gallery .item{
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
}

.gallery-block.compact-gallery .item .images{
    transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
    position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: white;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39));

}

.gallery-block.compact-gallery .item .description .description-body{
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
}

@media(min-width:576px){
    .gallery-block.compact-gallery .item .description{
        opacity: 0;
    }
    .gallery-block.compact-gallery .item .description:hover{
        opacity: 1;
    }
    .gallery-block .zoom-on-hover:hover .image{
        transform: scale(1.3);
        opacity: 0.7;
    }
}
footer{
    width: 100%;
    background-color: #e6e7e9;
    padding: 3% 3% 3% 3%;
    color: black;

}
.fa{
    padding: 15px;
    font-size: 25px;
    color: black;
}

.fa:hover{
    color: gray;
    text-decoration: none;
}