html, body{
    height: 100%;
    width: 100%;

}

.navbar{
    background-color:#e6e7e9;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a{
    color: black;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
    color: gray;
}

#home{
    background: url(lp_img/hArno.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1{
    font-weight: bold;
    font-size: 400%;
    
    color: #ffffff;
}

.landing-text h3{
    color: #ffffff;
}

.padding{
    padding: 80px 0;
}

.padding img{
    width: 100%;
}

#fixed{
    background: url(lp_img/background.png) no-repeat center center fixed;
    display: table;
    height:60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer{
    width: 100%;
    background-color: #e6e7e9;
    padding: 5% 5% 10% 5%;
    color: black;

}
.fa{
    padding: 15px;
    font-size: 25px;
    color: black;
}

.fa:hover{
    color: gray;
    text-decoration: none;
}